//BLD2POSE JOB {{ job_accnt }}CLASS={{ jobclass }},MSGCLASS={{ msgclass }},
//         TIME=NOLIMIT
/*JOBPARM  S=*,L=9999
//*
//******************************************************************
//*  CHECK IF NEW SYSRES VARIABLE IS CORRECT                       *
//******************************************************************
//SYSRCHK  EXEC PGM=IKJEFT01
//SYSPROC  DD DISP=SHR,DSN={{ ds_procs }}
//SYSTSPRT DD SYSOUT=*
//SYSPRINT DD SYSOUT=*
//SYSTSIN  DD *
%SYSRCHK {{ new }}
/*
//*******************************************************************
//*  ENSURE ALL SYSRES-SET DATASETS ARE CATALOGED. *
//*******************************************************************
//LISTCAT  EXEC PGM=IDCAMS,REGION=0M,COND=(4,LT)
//SYSPRINT DD   DSN=&TEMP1,UNIT=SYSALLDA,SPACE=(CYL,(20,10)),
//         DISP=(NEW,PASS),DCB=(RECFM=VBA,LRECL=125,BLKSIZE=23476)
//SYSIN    DD   *
 LISTC ALIAS ALL
 LISTC VOLUME NONVSAM
/*
//VTOCLST EXEC PGM=IKJEFT01,REGION=0M,COND=(4,LT)
//SYSTSPRT DD SYSOUT=*,DCB=(RECFM=VA,LRECL=137,BLKSIZE=141)
//IN1      DD DSN=&TEMP1,DISP=(OLD,DELETE)
//OUT2     DD DSN={{ ds_prefix }}.{{ group_names.0 }}.TEMP2,UNIT=SYSALLDA,
//         DISP=(NEW,PASS),SPACE=(CYL,(20,10))
//SYSPROC  DD DSN={{ ds_procs }},DISP=SHR
//ISPPLIB  DD DSN=SYS1.SISPPENU,DISP=SHR
//ISPSLIB  DD DSN=SYS1.SISPSENU,DISP=SHR
//ISPTLIB  DD DSN=SYS1.SISPTENU,DISP=SHR
//ISPMLIB  DD DSN=SYS1.SISPMENU,DISP=SHR
//ISPPROF  DD DSN=&ISPPRO2,UNIT=SYSALLDA,SPACE=(TRK,(5,1,19)),
//            DCB=(RECFM=FB,LRECL=80,BLKSIZE=9120)
//ACTION   DD SYSOUT=*,DCB=(RECFM=FB,LRECL=80,BLKSIZE=9120)
//BACKOUT  DD SYSOUT=*,DCB=(RECFM=FB,LRECL=80,BLKSIZE=9120)
//SYSTSIN DD *
 ISPSTART CMD(%SYSCATLG CAT 1 {{ new }} )
/*
//CATSTEP  EXEC PGM=IDCAMS,REGION=0M,COND=(4,LT)
//SYSPRINT DD   SYSOUT=*
//SYSIN    DD   DSN={{ ds_prefix }}.{{ group_names.0 }}.TEMP2,DISP=(OLD,PASS)
/*
//IEBGENER  EXEC PGM=IEBGENER
//SYSUT1    DD DSN={{ ds_prefix }}.{{ group_names.0 }}.TEMP2,DISP=(OLD,DELETE)
//SYSUT2    DD SYSOUT=*
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD DUMMY
/*
//